@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #171617;
}

main {
  flex: 1 1 0%;
}

/* Hide scrollbar but still usable */
/* * {
  scroll-behavior: smooth;
  -ms-overflow-style: none !important; /* IE and Edge */
/*scrollbar-width: none !important; /* Firefox */
/*} */

/* Hide scrollbar but still usable */
/* *::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
} */
